# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jon Bramley
	email = jon.bramley@made.com
[web]
	browser = open
[core]
	excludesfile = ~/.gitignoreglobal
[merge]
    tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	prompt = false
[diff]
    tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
